@import '../../assets/colors.scss';

.btn {
  appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 0;
  padding: 15px;
  margin-bottom: 20px;

  width: 502px;
  height: 50px;

  border-radius: 5px;

  background-color: $accentColor;
  color: #ffffff;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
@media (min-width: 320px) and (max-width: 800px) {
  .btn {
    width: 80%;
    padding: 5px;
  }
}
