@keyframes secondary {
    0%    { transform: translate(1px,1px) }
   33.33% { transform: translate(51px,1px) }
   66.66% { transform: translate(21px,51px) }
  100%    { transform: translate(1px,1px) }
}


.secondary > div {
  transform: scale(0.86);
  transform-origin: 50px 50px;
}

.secondary > div > div {
  animation: secondary 1.075268817204301s linear infinite;
  position: absolute
}

.secondary > div > div div:nth-child(1) {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 6px solid #009ef7;
  background: #ffffff
}

.secondary > div > div div:nth-child(2) {
  width: 8.5px;
  height:  25.5px;
  transform: rotate(-45deg);
  background: #009ef7;
  border-radius: 0 0 4px 4px;
  position: absolute;
  top: 34px;
  left: 42.5px
}
.main {
  width: 51px;
  height: 51px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.secondary {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.51);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.secondary div { box-sizing: content-box; }
/* generated by https://loading.io/ */
