@import '../../assets/colors.scss';

.container {
  padding: 20px;
  width: 462px;
  height: 144px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: center;
}
.message {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: $accentColor;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: auto;
    padding: 5px;
  }
}
